{sub_dirs, ["deps"]}.

{deps,
 [{lager, "2.1.1", {git, "https://github.com/basho/lager", {tag, "2.1.1"}}},
  {recon, ".*", {git, "https://github.com/ferd/recon.git", {branch, "master"}}},
  {dobby, ".*", {git, "git@github.com:shivarammysore/dobby.git", {branch, "master"}}},
  {dobby_clib, ".*", {git, "git@github.com:shivarammysore/dobby_clib.git", {branch, "master"}}}]
}.

{cover_enabled, true}.
{erl_opts, [{parse_transform, lager_transform}, debug_info]}.
{edoc_opts, [{preprocess, true}]}.
